*{
  box-sizing: border-box;
}
body{
  background-color: rgb(240, 240, 240);
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container{
  width: 300px;
  padding: 10px 0px;
  /* border: 1px solid rgba(150, 149, 149, 0.4); */
  text-align: left;
}

#Balance, h4{
  margin: 0;
}

.income-expense-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  margin-top: 5px;
  background-color: white;
  box-shadow: 0px 0px 5px rgb(181, 180, 180);
}

#money-plus{
  font-weight: bold;
  color: rgb(6, 200, 6);
}

#money-minus{
  font-weight: bold;
  color: red;
}

h3{
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.transaction-container{
  display: flex;
  flex-direction: row-reverse;
}

ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
}

li{
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 5px rgb(181, 180, 180);
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 10px;
}

label{
  display: block;
  font-weight: 600;
  font-size: 14px;
}

input{
  width: 100%;
  height: 30px;
  border: none;
  background-color: white;
  margin: 10px 0px;
  box-shadow: 0px 0px 5px rgb(181, 180, 180);
  padding: 10px;
}

.add-transaction-btn{
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 30px;
  background-color: rgb(126, 103, 152);
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.add-transaction-btn:hover{
  background-color: white;
  color: rgb(126, 103, 152);
  border: 1px solid rgb(126, 103, 152);
}

.delete-btn{
  color: white;
  background-color: rgb(249, 70, 70);
  border: none;
  font-size: 16px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  /* display: none; */
}

/* list hover effect */


.minus{
  border-right: 5px solid red;
}

.plus{
  border-right: 5px solid rgb(6, 200, 6);
}